1. Create a function that takes an integer and returns a list from 1 to the given number, where:
If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the
number). 2. If the number cannot be divided evenly by 4, simply return the number. Examples amplify(4) ➞ [1, 2, 3, 40] amplify(3) ➞ [1, 2, 3] amplify(25) ➞ [1, 2, 3, 40, 5, 6, 7, 80, 9, 10, 11, 120, 13, 14, 15, 160, 17, 18, 19, 200, 21, 22, 23, 240, 25] Notes  The given integer will always be equal to or greater than 1.  Include the number (see example above).  To perform this problem with its intended purpose, try doing it with list comprehensions. If that's too difficult, just solve the challenge any way you can.

In [22]:
def amplify(n):
    return [i*10 if i % 4 == 0 else i for i in range(1,n+1) ]

In [23]:
amplify(4)

[1, 2, 3, 40]

In [24]:
amplify(3)

[1, 2, 3]

In [25]:
amplify(25)

[1,
 2,
 3,
 40,
 5,
 6,
 7,
 80,
 9,
 10,
 11,
 120,
 13,
 14,
 15,
 160,
 17,
 18,
 19,
 200,
 21,
 22,
 23,
 240,
 25]

2. Create a function that takes a list of numbers and return the number that's unique.

Examples unique([3, 3, 3, 7, 3, 3]) ➞ 7 unique([0, 0, 0.77, 0, 0]) ➞ 0.77 unique([0, 1, 1, 1, 1, 1, 1, 1]) ➞ 0 Notes Test cases will always have exactly one unique number while all others are the same.

In [26]:
def unique(lst):
    s = list(set(lst))
    for i in s:
        if lst.count(i) == 1:
            return i

In [27]:
unique([3, 3, 3, 7, 3, 3])

7

In [28]:
unique([0, 0, 0.77, 0, 0])

0.77

In [29]:
unique([0, 1, 1, 1, 1, 1, 1, 1])

0

3. Your task is to create a Circle constructor that creates a circle with a radius provided by an argument. The circles constructed must have two getters getArea() (PIr^2) and getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).
For help with this class, I have provided you with a Rectangle constructor which you can use as a base example.

In [30]:
class Circle():
    def __init__(self, r):
        self.radius = r

    def getArea(self):
        return round(self.radius**2*3.14)
    
    def getPerimeter(self):
        return round(2*self.radius*3.14)

In [31]:
circy = Circle(11)
circy.getArea()

380

In [32]:
circy = Circle(4.44)
circy.getPerimeter()

28

4. Create a function that takes a list of strings and return a list, sorted from shortest to longest.
Examples sort_by_length(['Google', 'Apple', 'Microsoft']) ➞ ['Apple', 'Google', 'Microsoft'] sort_by_length(['Leonardo', 'Michelangelo', 'Raphael', 'Donatello']) ➞ ['Raphael', 'Leonardo', 'Donatello', 'Michelangelo'] sort_by_length(['Turing', 'Einstein', 'Jung']) ➞ ['Jung', 'Turing', 'Einstein'] Notes All test cases contain lists with strings of different lengths, so you won't have to deal with multiple strings of the same length.

In [33]:
def sort_by_length(lst):
    return sorted(lst, key = len)

In [34]:
sort_by_length(['Google', 'Apple', 'Microsoft'])

['Apple', 'Google', 'Microsoft']

In [35]:
sort_by_length(['Leonardo', 'Michelangelo', 'Raphael', 'Donatello'])

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

In [36]:
sort_by_length(['Turing', 'Einstein', 'Jung'])

['Jung', 'Turing', 'Einstein']

5. Create a function that validates whether three given integers form a Pythagorean triplet. The
sum of the squares of the two smallest integers must equal the square of the largest number to be validated.

In [37]:
def is_triplet(a,b,c):
    lst = []
    lst.extend((a,b,c))
    lst = sorted(lst)

    if lst[0]**2 + lst[1]**2 == lst[2]**2:
        print('Triplets')
        return True
    else:
        print("not triplet")
        return False

In [38]:

is_triplet(3, 4, 5)

Triplets

True

In [39]:
True
is_triplet(1, 2, 3)

not triplet

False